In [2]:
#using merge dataframe
import pandas as pd
tempdf=pd.DataFrame({
    'city':['mumbai','delhi','jaipur'],
    'temperture':[32,45,60]

    
})
print(tempdf)

     city  temperture
0  mumbai          32
1   delhi          45
2  jaipur          60

In [11]:
windspeed_df=pd.DataFrame({
    'city':['delhi','mumbai','jaipur'],
    'windspeed':[52,425,87]
    
})
print(windspeed_df)

     city  windspeed
0   delhi         52
1  mumbai        425
2  jaipur         87

In [12]:
newdf=pd.concat([tempdf,windspeed_df],axis=1)
print(newdf)

     city  temperture    city  windspeed
0  mumbai          32   delhi         52
1   delhi          45  mumbai        425
2  jaipur          60  jaipur         87

In [15]:
#to correct index error in city by indexing

tempdf=pd.DataFrame({
    'city':['mumbai','delhi','jaipur'],
    'temperture':[32,45,60]

    
},index=[0,1,2])
print(tempdf)

     city  temperture
0  mumbai          32
1   delhi          45
2  jaipur          60

In [16]:
windspeed_df=pd.DataFrame({
    'city':['delhi','mumbai','jaipur'],
    'windspeed':[52,425,87]
    
},index=[1,0,2])
print(windspeed_df)

     city  windspeed
1   delhi         52
0  mumbai        425
2  jaipur         87

In [17]:
newdf=pd.concat([tempdf,windspeed_df],axis=1)
print(newdf)

     city  temperture    city  windspeed
0  mumbai          32  mumbai        425
1   delhi          45   delhi         52
2  jaipur          60  jaipur         87

In [20]:
# to craete dataframe using series
import pandas as pd
eventdf=pd.Series(["humid",'dry','rain'],name='event')
print(eventdf)

0    humid
1      dry
2     rain
Name: event, dtype: object

In [21]:
#to concatenate event dataframe to givendataframe
print(tempdf)
newdf1=pd.concat([tempdf,eventdf],axis=1)
print(newdf1)

     city  temperture
0  mumbai          32
1   delhi          45
2  jaipur          60
     city  temperture  event
0  mumbai          32  humid
1   delhi          45    dry
2  jaipur          60   rain

In [25]:

#to concat using merge dataframe
newdf2=pd.merge(tempdf,windspeed_df)
print(newdf2)

     city  temperture  windspeed
0  mumbai          32        425
1   delhi          45         52
2  jaipur          60         87

In [26]:
df1=pd.DataFrame({
    'city':['mumbai','delhi','jaipur','kolkata','chennai'],
    'temperture':[32,45,60,54,78]

    
})
print(df1)

      city  temperture
0   mumbai          32
1    delhi          45
2   jaipur          60
3  kolkata          54
4  chennai          78

In [27]:
df2=pd.DataFrame({
    'city':['delhi','banglore','jaipur'],
    'windspeed':[52,425,87]
    
})
print(df2)

       city  windspeed
0     delhi         52
1  banglore        425
2    jaipur         87

In [31]:
#it merge dataframe on the basis of intersection or common city in both dataframe
newdf3=pd.merge(df1,df2)
print(newdf3)

     city  temperture  windspeed
0   delhi          45         52
1  jaipur          60         87

In [32]:
#to union two dataframe using 'outer'
newdf3=pd.merge(df1,df2,how='outer')
print(newdf3)

       city  temperture  windspeed
0    mumbai        32.0        NaN
1     delhi        45.0       52.0
2    jaipur        60.0       87.0
3   kolkata        54.0        NaN
4   chennai        78.0        NaN
5  banglore         NaN      425.0

In [34]:
#to union two dataframe using 'inner' which is default common between two dataframe
newdf3=pd.merge(df1,df2,how='inner')
print(newdf3)

     city  temperture  windspeed
0   delhi          45         52
1  jaipur          60         87

In [35]:
#to union two dataframe using 'left' which compare with with 1st dataframe and return 
newdf3=pd.merge(df1,df2,how='left')
print(newdf3)

      city  temperture  windspeed
0   mumbai          32        NaN
1    delhi          45       52.0
2   jaipur          60       87.0
3  kolkata          54        NaN
4  chennai          78        NaN

In [36]:
#to union two dataframe using 'right' to compare with 2nd datframe
newdf3=pd.merge(df1,df2,how='right')
print(newdf3)

       city  temperture  windspeed
0     delhi        45.0         52
1    jaipur        60.0         87
2  banglore         NaN        425