In [7]:
from sklearn import preprocessing
import numpy as np
import pandas as pd


df=pd.DataFrame(np.arange(20).reshape(5,4))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [9]:
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(df).transform(df)

array([[ 0.  ,  0.  ,  0.  ,  0.  ],
       [ 0.25,  0.25,  0.25,  0.25],
       [ 0.5 ,  0.5 ,  0.5 ,  0.5 ],
       [ 0.75,  0.75,  0.75,  0.75],
       [ 1.  ,  1.  ,  1.  ,  1.  ]])

In [13]:
standard=preprocessing.StandardScaler().fit(df)
standard.transform(df)

array([[-1.41421356, -1.41421356, -1.41421356, -1.41421356],
       [-0.70710678, -0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356,  1.41421356,  1.41421356]])

In [15]:
preprocessing.Binarizer(5).fit(df).transform(df)
#value=5 it means below 5 is zero value and above 5 is 1 
#binary means either 0 or 1

array([[0, 0, 0, 0],
       [0, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [16]:
preprocessing.Normalizer().fit(df).transform(df)

array([[ 0.        ,  0.26726124,  0.53452248,  0.80178373],
       [ 0.35634832,  0.4454354 ,  0.53452248,  0.62360956],
       [ 0.4181667 ,  0.47043754,  0.52270837,  0.57497921],
       [ 0.44292808,  0.47983876,  0.51674943,  0.5536601 ],
       [ 0.45621276,  0.48472606,  0.51323935,  0.54175265]])